{% extends 'base.html.twig' %}

{% block title %}{{ movie.getTitle()}}{% endblock %}

{% block body %}
<main>
    <section class="py-5 container text-mute" id="app">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">{{ movie.title }}</h1>
            </div>
        </div>
        <div class="row align-items-md-stretch">
            <div class="col shadow  bg-light rounded">
                <div class="row py-5">
                    <p>{{ movie.description }}</p>
                </div>
                <div class="row py-5">
                    {% include '/movies/partials/movie_dates.html.twig' with { 'movie': movie } %}
                </div>
            </div>
            <div class="col">
                <img src="{{ movie.image }}" class="card-img-top" alt="..." />
            </div>
        </div>
    </section>
</main>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        new Vue ({
            el: '#app',
            delimiters: ['${', '}'],
            data() {
                return {
                    seen: 0
                };
            },
            methods: {
                showTimes(dateId) {
                    this.seen = dateId
                }
            }
        });
    </script>
{% endblock %}


